---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "B2B - Conectando Negocios con Proveedores", 
  description = "Conectamos empresas que buscan proveedores de calidad para sus necesidades de negocio."
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/faviconn.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-white text-secondary-950">
    <slot />
  </body>
</html>